@font-face{
font-family:'HelveticaNeue-LightCond';
src:url('../fonts/HelveticaNeue-LightCond.eot?') format('eot'), 
    url('../fonts/HelveticaNeue-LightCond.woff') format('woff'), 
    url('../fonts/HelveticaNeue-LightCond.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-LightCond.svg#HelveticaNeue-LightCond') format('svg');
}

@font-face{
font-family:'HelveticaNeue-MediumCond';
src:url('../fonts/HelveticaNeue-MediumCond.eot?') format('eot'), 
    url('../fonts/HelveticaNeue-MediumCond.woff') format('woff'), 
    url('../fonts/HelveticaNeue-MediumCond.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg');
}

@font-face{
font-family:'HelveticaNeue-Condensed';
src:url('../fonts/HelveticaNeue-Condensed.eot?') format('eot'), 
    url('../fonts/HelveticaNeue-Condensed.woff') format('woff'), 
    url('../fonts/HelveticaNeue-Condensed.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Condensed.svg#HelveticaNeue-Condensed') format('svg');
}

img{
max-width:100%;
height:auto;
}

iframe{
max-width:100%;
min-width:100%;
}

body{
padding-top:0px;
padding-bottom:0px;
font-family:Verdana, Geneva, sans-serif;
}

.navbar{
border:none;
position:static;
margin:0;
}


@media (max-width:767px){

.navbar-header{
background:#ffffff; /* Old browsers */
/* background: -moz-linear-gradient(top, #ffffff 50%, #c0e0ef 100%); /* FF3.6+ */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(100%,#c0e0ef)); /* Chrome,Safari4+ */
/* background: -webkit-linear-gradient(top, #ffffff 50%,#c0e0ef 100%); /* Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(top, #ffffff 50%,#c0e0ef 100%); /* Opera 11.10+ */
/* background: -ms-linear-gradient(top, #ffffff 50%,#c0e0ef 100%); /* IE10+ */
/* background: linear-gradient(to bottom, #ffffff 50%,#c0e0ef 100%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0e0ef',GradientType=0 ); /* IE6-9 */
}

.navbar-nav{
float:left;
width:100%;
margin:7.5px 0px;
}

.navbar-nav li{
text-align:center;
}

.navbar-nav a{
padding:10px 0px 10px 0px!important;
text-transform:uppercase;
}

.navbar-collapse{
background:#c0e0ef;
border-bottom:1px solid transparent;
}

.campaign{
background:#fff;
min-height:509px;
}

}

@media (min-width:768px){

.navbar-inverse{
background:#ffffff; /* Old browsers */
/* background: -moz-linear-gradient(top, #ffffff 50%, #c0e0ef 100%); /* FF3.6+ */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(100%,#c0e0ef)); /* Chrome,Safari4+ */
/* background: -webkit-linear-gradient(top, #ffffff 50%,#c0e0ef 100%); /* Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(top, #ffffff 50%,#c0e0ef 100%); /* Opera 11.10+ */
/* background: -ms-linear-gradient(top, #ffffff 50%,#c0e0ef 100%); /* IE10+ */
/* background: linear-gradient(to bottom, #ffffff 50%,#c0e0ef 100%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0e0ef',GradientType=0 ); /* IE6-9 */
}

.navbar-nav{
float:right;
}

.navbar-nav a{
padding:83px 12px 42px 12px!important;
text-transform:uppercase;
}

.navbar-nav a span{
padding:3px 0;
}

.navbar-nav a:hover span{
border-bottom:3px solid #47a4cf!important;
color: #47a4cf;
}

body.index .navbar-nav li.index a span{border-bottom:3px solid #146083;}
body.authors .navbar-nav li.authors a span{border-bottom:3px solid #146083;}
body.tour .navbar-nav li.tour a span{border-bottom:3px solid #146083;}
body.press .navbar-nav li.press a span{border-bottom:3px solid #146083;}
body.contact .navbar-nav li.contact a span{border-bottom:3px solid #146083;}
body.celeb-endorsements .navbar-nav li.celeb-endorsements a span{border-bottom:3px solid #146083;}






.navbar-collapse{
background:none;
}

}

@media (min-width:768px) and (max-width:991px){
.campaign{
background:url(../images/bg-robin-with-dog.jpg) right top no-repeat #fff;
min-height:509px;
}
}

@media (min-width:992px){
.campaign{
background:url(../images/bg-robin-with-dog.jpg) right bottom no-repeat #fff;
min-height:509px;
}
}

.navbar-header{
padding:0px;
}

.navbar-header a,
.navbar-nav a{
color:#00567d!important;
}

.navbar-nav li{
font-family:'HelveticaNeue-MediumCond',Verdana, Geneva, sans-serif;
font-size:15px;
}

.navbar-brand{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:50px;
line-height:0px;
margin:0px;
padding:54px 38px 54px 29px;
height:auto;
letter-spacing:2px;
}

.navbar-toggle{
background:#47a4cf;
position:absolute;
top:10px;
right:10px;
margin:0;
}

.name-first{}

.name-last{
color:#47a4cf;
}

.name-first,
.name-last{
line-height:37px;

}

.navbar-brand .title{
/* font-family:'HelveticaNeue-MediumCond',Verdana, Geneva, sans-serif; */
color:#53504c;
font-size:15px;
font-weight:bold;
text-transform:uppercase;
letter-spacing:0.45px;
padding-left: 5px;
}

.jumbotron{
background:#e0e0e0;
margin-bottom:0;
}

.preorder{
clear:both;
padding:5px 0 0 19px;
}

.preorder p{
margin:0 0 10px 0;
font-family:Verdana, Geneva, sans-serif;
font-size:11px;
line-height:13px;
color:#00567d;
text-transform:uppercase;
}

.preorder ul,
#free-gift ul{
margin:0 0 0 -2px;
padding:0;
list-style:none;
}

.preorder li,
#free-gift li{
float:left;
}

.preorder li a,
#free-gift li a{
display:block;
height:38px;
overflow:hidden;
text-indent:-9999px;
}

.preorder .amazon a,
#free-gift .amazon a{
background:url(../images/btn-amazon.gif) no-repeat;
width:107px;
margin-right:5px;
margin-bottom:5px;
}

.preorder .bandn a,
#free-gift .bandn a{
background:url(../images/btn-bandn.gif) no-repeat;
width:132px;
margin-bottom:5px;
}

.campaign h1.book-title{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:66px;
line-height:66px;
color:#00567d;
margin:43px 0 5px 0;
}

.campaign h3.book-subtitle{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:24px;
line-height:26px;
color:#0483be;
margin:5px 0;
}

.campaign p.book-author{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:16px;
line-height:18px;
color:#53504c;
margin:5px 0;
}

.campaign h4.book-release{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:24px;
line-height:25px;
color:#b20000;
margin:15px 0;
}

.campaign p.book-desc{
font-family:Verdana, Geneva, sans-serif;
font-size:13px;
line-height:22px;
color:#53504c;
margin:20px 0;
}

.campaign img.book-cover{
margin:33px 0 0 8px;
}

.reviews{
background:#ececec;
}

.reviews .container{
padding-top:30px;
padding-bottom:10px;
}

.quote-text{
font-size:13px;
font-style:italic;
color:#53504c;
box-shadow:2px 2px 0px #c7c7c7;
}

.quote-text{
width:100%;
min-height:105px;
background:#fff;
box-shadow:2px 2px 0px #c7c7c7;
padding:10px;
}

.quote-name{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:17px;
font-weight:bold;
color:#085b81;
background:url(../images/quote.png) no-repeat;
padding:6px 0 0 35px;
margin:0 0 0 15px;
}

.quote-title{
font-size:12px;
font-style:italic;
color:#53504c;
margin:0 0 20px 49px;
}

.container.about{
margin-top:30px;
}

.video h3,
.video-desc h3{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:40px;
line-height:40px;
font-weight:normal;
color:#00567d;
margin:15px 0;
}

.video-desc p{
font-family:Verdana, Geneva, sans-serif;
font-size:13px;
line-height:22px;
color:#53504c;
margin:15 0;
}

.tour-dates{
background:#cae4f4;
text-align:center;
padding:10px 0;
margin-bottom: 30px;
}

.tour-dates .scroll-container{
	overflow:auto;
	padding:10px;
	max-height:350px;
}

.tour-dates h2{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:32px;
line-height:32px;
color:#53504c;
margin:15px 0;
}

.tour-dates p{
font-family:'HelveticaNeue-MediumCond',Verdana, Geneva, sans-serif;
font-size:15px;
line-height:22px;
color:#53504c;
margin:15px 0;
font-weight:normal;
}

.social{
display:table;
margin:0 auto 30px auto;
}

.social h3{
font-size:14px;
color:#707070;
font-style:italic;
text-align:center;
margin-bottom:0;
}

.social ul{
list-style:none;
margin:0;
padding:0;
}

.social li{
float:left;
display:inline;
width:fit-content;
}

.social a{
width:60px;
height:48px;
display:block;
overflow:hidden;
text-indent:-9999px;
}

.social .twitter a{
background:url(../images/icon-social-twitter.gif);
}

.social .facebook a{
background:url(../images/icon-social-facebook.gif);
}

.footer{
background: #00567d;
color:#fff;
padding:15px 0;
margin:0 0 0 0;
}

.footer a{
color:#fff;
text-decoration:none;
}

.aha-logo{}

.aha-logo a{
display:block;
width:150px;
height:150px;
overflow:hidden;
text-indent:-9999px;
background:url(../images/aha-stacked-blue-250x250.jpg) no-repeat;
background-size:100% 100%;
box-shadow:2px 2px 20px #000;
}

.aha-mission{}

.aha-mission h3{
font-size:14px;
line-height:16px;
color:#fff;
}

.aha-mission p{
font-size:13px;
line-height:20px;
color:#9DD8F3;
}

.aha-links{}

.aha-links a:hover{
text-decoration:underline;
}

.aha-links h3{
font-size:14px;
line-height:16px;
color:#fff;
}

.aha-links ul{
padding:0;
list-style:none;
}

.aha-links li{
font-size:13px;
line-height:20px;
}

.aha-links li .glyphicon{
font-size:6px;
}

.aha-links a{
color:#9DD8F3;
}

.aha-newsletter h3{
font-size:14px;
line-height:16px;
color:#fff;
}

.aha-newsletter input{
color:#707070;
}

form .req{
display:none;
}

form .Explicit{
display:none;
}

form label{
display:none;
}

#cons_first_name,
#cons_last_name,
#mce-FNAME,
#mce-LNAME{
float:left;
width:47.5%;
}

#mce-FNAME,
#mce-LNAME{
margin:10px 0 10px 0;
}

#mce-EMAIL{
margin:0 0 10px 0;
width:100%;
}

#mc-embedded-subscribe{
float:right;
}

.footer{
padding-bottom:0;
}

.footer .copyright{
background:#003d5a;
font-size:13px;
color:#9dd8f3;
text-align:center;
padding:7px 0;
margin:30px 0 0 0;
}

.footer .copyright a{
color:#9dd8f3;
}

.footer .copyright a:hover{
text-decoration:underline;
}

/* Interior */

.interior{
background:#fff;
}

.interior .row{
padding:5px 16px;
}

.interior h1{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:66px;
line-height:66px;
color:#00567d;
margin:25px 0 0 0;
}

.interior h3{
font-family:'HelveticaNeue-LightCond',Verdana, Geneva, sans-serif;
font-size:24px;
line-height:26px;
color:#0483be;
margin:20px 0;
}

.interior p{
font-family:Verdana, Geneva, sans-serif;
font-size:13px;
line-height:22px;
color:#53504c;
margin:20px 0;
}


.bio{
float:left;
max-width:810px;
}





/* Alignment */

.alignleft{
float:left;
}

.alignright{
float:right;
}

.aligncenter{
display:block;
margin-left:auto;
margin-right:auto;
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft{
margin:7px 24px 7px 0;
}

.wp-caption.alignleft{
margin:7px 14px 7px 0;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright{
margin:7px 0 7px 24px;
}

.wp-caption.alignright{
margin:7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter{
margin-top:7px;
margin-bottom:7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright{
border-top:1px solid rgba(0, 0, 0, 0.1);
border-bottom:1px solid rgba(0, 0, 0, 0.1);
padding-top:17px;
width:50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p{
margin-bottom:17px;
}

.wp-caption{
margin-bottom:24px;
}

.wp-caption img[class*="wp-image-"]{
display:block;
margin:0;
}

.wp-caption{
color:#767676;
}

.wp-caption-text{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
font-size:12px;
font-style:italic;
line-height:1.5;
margin:9px 0;
}

div.wp-caption .wp-caption-text{
padding-right:10px;
}

div.wp-caption.alignright img[class*="wp-image-"],
div.wp-caption.alignright .wp-caption-text{
padding-left:10px;
padding-right:0;
}

.wp-smiley{
border:0;
margin-bottom:0;
margin-top:0;
padding:0;
}