/* content */

#amazingcarousel-1{
	max-width:100%!important;
}

#amazingcarousel-1 .amazingcarousel-image{
position:relative;
padding:4px;
}

#amazingcarousel-1 .amazingcarousel-image img{
}

#amazingcarousel-1 .amazingcarousel-title{
position:relative;
font:14px 'Open Sans', sans-serif;
color:#333333;
margin:6px;
text-align:center;
text-shadow:0px 1px 1px #fff;
}

/* carousel */

#amazingcarousel-container-1{
padding:0 48px; 
}

#amazingcarousel-1 .amazingcarousel-list-container{ 
padding:0 0;
}

/* item */

#amazingcarousel-1 .amazingcarousel-item-container{
}

/* arrows */

#amazingcarousel-1 .amazingcarousel-prev{
left:0%;
top:50%;
margin-left:-48px;
margin-top:-16px;
}

#amazingcarousel-1 .amazingcarousel-next{
right:0%;
top:50%;
margin-right:-48px;
margin-top:-16px;
}

/* navigation bullets */

#amazingcarousel-1 .amazingcarousel-nav{
position:absolute;
width:100%;
top:100%;
}

#amazingcarousel-1 .amazingcarousel-bullet-wrapper{
margin:4px auto;
}

/* hide navigation on mobile */

@media (max-width: 600px) {
	#amazingcarousel-1 .amazingcarousel-nav{
	display:none;
	}
}